<%- include ../partials/header.ejs %>
<%- include ../partials/edit.ejs %>
<br>
 <!-- Content for the Edit page -->
 <div class="container">
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <form class="form" method="post">
            <!-- Content Field for Name -->
            <div class="form-group">
                <label for="nameTextField">Apparel Name</label>
                <input type="text" class="form-control" 
                id="nameTextField" 
                placeholder="Enter the Apparel name" 
                name="name" 
                value="<%= apparel.name %>"
                required>
            </div>
            <br>
            <!-- Content Field for Price -->
            <div class="form-group">
                <label for="priceTextField">Price</label>
                <input type="text" class="form-control" 
                id="priceTextField" 
                placeholder="Enter the Price Tag" 
                name="price" 
                value="<%= apparel.price %>"
                required>
            </div>
            <br>
            <!-- Content Field for Description -->
            <div class="form-group">
                <label for="descriptionTextField">Description</label>
                <input type="text" class="form-control" 
                id="descriptionTextField" 
                placeholder="Enter product description?" 
                name="description" 
                value="<%= apparel.description %>"
                required>
            </div>
            <br>
            <!-- Content Field for Size -->
            <div class="form-group">
                <label for="sizeTextField">Size</label>
                <input type="text" class="form-control" 
                id="sizeTextField" 
                placeholder="Enter your size" 
                name="size" 
                value="<%= apparel.size %>"
                required>
            </div>
            
            <br>
            <!-- Button to Submit New Database Item -->
            <button class="btn btn-outline-dark" type="submit">
                <i class="fas fa-edit"></i> Submit 
            </button>
            <!-- Button to Submit New Database Item -->
            <a href="/apparelList" class="btn btn-outline-danger">
                Cancel
            </a>

        </form>
        <br>
    </div>
    </div>
 </div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>