<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Code-->
<main>
<div class="Banner">
<header >
    <img src="Assets/images/bricks.jpg" class="img-fluid "style="width: 100%;" alt="Banner Img">
</header>
<br>
</div>

    <!-- Main Workout List Page displaying the current workouts entered into the database -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-10">
                <h2><%= title %></h2>
                <br>
                
                <br>
        <!-- Table for the database items -->
        <table class = "table table-bordered table-striped table-hover">
        <tr>
        <% if(typeof displayName=='pop' && displayName) { %>
            <th class = "text-center col-4">Name</th>
            <th class = "text-center col-2">Price</th>
            <th class = "text-center col-2">Description</th>
            <th class = "text-center col-2">Size</th>
            <th class = "text-center col-1"></th>
            <th class = "text-center col-1"></th>
            <% } else { %>
            <th class = "text-center col-4">Name</th>
            <th class = "text-center col-2">Price</th>
            <th class = "text-center col-2">Description</th>
            <th class = "text-center col-2">Size</th>
             <% } %>
        </tr>
        <!-- Repeat the template-->
        <% for (let count=0; count < apparelList.length; count++) { %>
            <tr>
            <!--You can no longer make changes to the apperal db in the final release, only on members Exclusive db-->
             <% if(typeof displayName=='pop' && displayName) { %>
                <td class="text-center col-4"><%= apparelList[count].name %></td>
                <td class="text-center col-2"><%= apparelList[count].price %></td>
                <td class="text-center col-2"><%= apparelList[count].description %></td>
                <td class="text-center col-2"><%= apparelList[count].size %></td>
                <td class="text-center col-1">
                    <a href="/apparelList/edit/<%= apparelList[count]._id %>"
                        class="btn btn-outline-dark">
                        <i class="fas fa-pencil-alt"></i> Edit 
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/apparelList/delete/<%= apparelList[count]._id %>"
                        class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete 
                    </a>
                </td>
            <% } else { %>
            <td class="text-center col-4"><%= apparelList[count].name %></td>
            <td class="text-center col-2"><%= apparelList[count].price %></td>
            <td class="text-center col-2"><%= apparelList[count].description %></td>
            <td class="text-center col-2"><%= apparelList[count].size %></td>
            <% } %>
            </tr>
        <% } %>
        </table>
        </div>
        </div>
    </div>
<br>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Account Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <table class = "table table-bordered table-striped table-hover">
        <tr>
            <th class = "text-center col-2">Username</th>
            <th class = "text-center col-2">Display name</th>
            <th class = "text-center col-2">Email</th>
        </tr>
        <tr>
            <td class="text-center col-2"><%= username %></td>
            <td class="text-center col-2"><%= displayName %></td>
            <td class="text-center col-2"><%= email %></td>
        </tr>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Code Ends-->
<!--Footer Banner Img-->
<div class="Banner">
<footer >
    <img src="Assets/images/hype.jpg" class="img-fluid "style="width: 100%;" alt="Banner Img">
</footer>
</div>
<br>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>